<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
				http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="socketioConfig" class="com.corundumstudio.socketio.Configuration">
		<property name="hostname" value="192.168.0.231" />
		<property name="port" value="18099" />
		<property name="heartbeatTimeout" value="60" />
	</bean>

	<bean id="socketIOServer" class="com.corundumstudio.socketio.SocketIOServer"
		scope="singleton" init-method="start" lazy-init="false">
		<constructor-arg ref="socketioConfig" />

	</bean>
</beans> 
